%h1 Search results

- if found_bookmarks.present?
  %h3 Found in bookmarks
  = render 'search/found_list', collection: found_bookmarks
  
- if found_websites.present?
  %h3 Found in websites
  = render 'search/found_list', collection: found_websites
  
- if found_tags.present?
  %h3 Found in tags
  = render 'search/found_list', collection: found_tags
